

.res{
  background-color: black;
}
.inc{
    background-color: green;
}
.dec{
    background-color: red;
}
.bt{
    padding: 50px;
    color: white;
    font-size: 50px;
    border-radius: 50px;
    margin: 10px;
}

.head{
    text-align: center;
    font-size: 150px;
}
.container{
    display: flex;
    gap:10px;
    justify-content: space-evenly;
    padding: 10px;
}
*{
    background-color: #fcba03;
}